/* .top {
    background-color: #fff;
} */

.scrolled {
    opacity: 0.9;
}

span.navbar-brand {
    font-size: 1.8rem;
    margin-right: 50px;
    letter-spacing: 0.35rem;
}

a.nav-link {
    font-size: 1.4rem;
    margin-right: 20px;
    letter-spacing: 0.15rem;
}

a.dropdown-item {
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
}

a.active.dropdown-item {
    color: #000;
    background-color: #d1d1d1;
}

a.dropdown-item:focus {
    color: #000;
    background-color: #d1d1d1;
}

/* #orders.active {
    background-color: #fff;
}

#logout.active {
    background-color: #fff;
} */